h1 {
    text-align: center;
    color: blueviolet;
    font-size: 42px;
}

h2 {
    color: blueviolet
}

.whileLoop {
    border: 3px solid gray;
    border-radius: 7px;
    text-align: center;
    width: 25%;
    padding: 0 1%;
    margin: 2% auto;
    
}

.whileLoop:hover {
    border: 3px dashed gray;
    background: lightgray;
    cursor: crosshair;
}