h1 {
    font-size: 42px;
    text-align: center;
    color: blueviolet;
}

.info {
    text-align: center;
    width: 25%;
    margin: 2% auto 0;
    border: 2px solid gray;
    border-radius: 7px;
}